Package: sanlock-dev
Source: sanlock
Version: 2.1-4.1
Architecture: amd64
Maintainer: David Weber <wb@munzinger.de>
Installed-Size: 15
Depends: libsanlock-client1 (= 2.1-4.1), sanlock (= 2.1-4.1)
Section: libs
Priority: optional
Homepage: https://fedorahosted.org/sanlock/
Description: development files for sanlock
 Sanlock ensures that single disk cannot be used by more than
 one running VM at a time, across any host in a network.
 This package contains the header files and static libraries.
