Package: sanlock
Version: 2.1-4.1
Architecture: amd64
Maintainer: David Weber <wb@munzinger.de>
Installed-Size: 285
Depends: libaio1 (>= 0.3.93), libblkid1 (>= 2.17.2), libc6 (>= 2.7), libuuid1 (>= 2.16), adduser
Section: libs
Priority: optional
Homepage: https://fedorahosted.org/sanlock/
Description: shared storage lock manager
 Sanlock ensures that single disk cannot be used by more than
 one running VM at a time, across any host in a network.
 This package contains the binaries and private shared libraries
